page-login {
    ion-grid {
        height: 100%;
        justify-content: center;
    }
    img {
        max-width: 90%;
        height: 200px;
    }
    .spacer {
        padding-top: 20px;
    }
    .item-md {
        padding-left: 1em;
    }
    .item-md.item-block .item-inner {
        margin-right: 1em;
        border-bottom: 1px solid #dedede;
    }
}