<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>My Booking</ion-title>

    </ion-navbar>

    <ion-segment color="light" [(ngModel)]="segment" (ionChange)="updateBookList()">
        <ion-segment-button value="book">
            ACTIVE
        </ion-segment-button>
        <ion-segment-button value="bookcomplete">
            COMPLETED
        </ion-segment-button>
    </ion-segment>
</ion-header>

<ion-content class="bg">
    <ion-card *ngFor="let book of books | keyobject">
        <ion-card-header>
            <ion-grid>
                <ion-row>
                    <ion-col col-9>
                        <h2 class="txtwrap"><b>{{book.from}}
                            <ion-icon name="md-arrow-forward" color="primary"></ion-icon> {{book.destination}}</b></h2>
                        <p class="date">{{book.date}} - {{book.time}}</p>
                    </ion-col>
                    <ion-col col-3>
                        <ion-chip color="danger">
                            <ion-label>RM {{book.totalPrice}}</ion-label>
                        </ion-chip>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-header>
        <hr>
        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col col-2> <img class="profile" src="{{book.dUserPhotoURL}}"></ion-col>
                    <ion-col col-10>
                        <h2>{{book.dName}}</h2>
                        <h2>Status: {{book.ridestatus?'Approved.':'Waiting respond from the driver'}}</h2>
                        <!-- <h2>is rejected: {{book.isRejected}}</h2> -->
                        <!-- <ion-chip>
                            <ion-icon name="car" color="secondary"></ion-icon>
                            <ion-label>{{book.seatBooked}} Booked</ion-label>
                        </ion-chip> -->
                        <button ion-button outline *ngIf="book.ridestatus" color="danger" (tap)="reportDriver(book)">Report Driver</button>
                    </ion-col>

                </ion-row>
            </ion-grid>

            <ion-row *ngIf="!isComplete">
                <button ion-button item-start color="secondary" full icon-left (tap)="ridecomplete(book)" *ngIf="book.ridestatus">
                    <ion-icon name="checkmark-circle"></ion-icon>
                   Completed
                  </button>

                <button ion-button item-start color="danger" full icon-left (tap)="ridecomplete(book)" disabled *ngIf="isApproved">
                    <ion-icon name="checkmark-circle"></ion-icon>
                   Pending
                  </button>
                <!-- <ion-col col-6 no-padding>
                        <button ion-button item-start color="danger" full icon-left (tap)="delete(book)">
                    <ion-icon name="trash"></ion-icon>
                     Cancelled
                    </button>
                    </ion-col> -->
            </ion-row>
            <button ion-button item-start color="danger" full icon-left (tap)="deleteCompleted(book)" *ngIf="isComplete">
                    <ion-icon name="trash"></ion-icon>
                     Delete
                    </button>

            <button ion-button item-start color="danger" full icon-left (tap)="deleteNotApproved(book)" *ngIf="book.isRejected">
                    <ion-icon name="trash"></ion-icon>
                     Not approved.
                    </button>
        </ion-card-content>
    </ion-card>
</ion-content>