page-profile {
    .header-image {
        background-image: url("../assets/wallpaper.jpg");
        background-size: cover;
        background-position: center;
        // height: 50vw;
        position: relative;
        z-index: -1;
    }
    .tab-header {
        padding-top: 20px;
        color: white;
        text-align: center;
        background-size: cover;
        background-position: center center;
        padding-bottom: 60px;
    }
    .circular {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        -webkit-border-radius: 150px;
        -moz-border-radius: 150px;
        border: solid;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            -webkit-border-radius: 150px;
            -moz-border-radius: 150px; // border: solid;
            display: block;
        }
    }
    .main-content {
        -webkit-transform: translatez(0);
        -moz-transform: translatez(0);
        -ms-transform: translatez(0);
        -o-transform: translatez(0);
        transform: translatez(0);
        position: relative !important;
        // padding: 20px;
        // background-color: white;
    }
    .overlap {
        margin-top: -40px;
    }
    .profile-description {
        font-size: 15px;
        color: #888;
    }
    // Following, Followers and all..
    .profile-numbers {
        p {
            color: #444;
            font-size: medium;
            margin-bottom: 3px;
        }
        span {
            font-weight: bold;
            font-size: 2.4rem;
            color: #34354c;
        }
    }
    .item-md {
        padding-left: 0px;
        padding-right: 15px;
        margin: 10px;
    }
    ul {
        padding: 0px;
        &.rating li {
            padding: 5px 10px !important;
            background: none;
            color: #ffb400;
            ion-icon {
                font-size: 30px;
            }
        }
    }
}