page-offerride {
    .item-md {
        padding-left: 0px;
        padding-right: 15px;
        margin: 10px;
    }
    .flex_row {
        display: -webkit-flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        display: flex;
        justify-content: center;
        align-items: center;
        // margin-bottom: 40px;
    }
    .button-md-secondary {
        margin: 0;
    }
}