<ion-header>
    <ion-navbar color="primary">
        <ion-title>Offer a ride</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="bg">
    <ion-card>
        <ion-card-header color="primary">
            LOCATION
        </ion-card-header>
        <ion-card-content>



            <ion-item>
                <ion-icon name="car" item-start color="secondary"></ion-icon>
                <ion-label stacked>
                    Destination Type</ion-label>
                <ion-select [(ngModel)]="offerride.destinationType" (ionChange)="destinationSelected($event)" class="myCustomSelect">

                    <ion-option value="collegeToClass">College to Class</ion-option>
                    <ion-option value="classToCollege">Class to College</ion-option>
                    <ion-option value="collegeToCollege">College to College</ion-option>
                    <ion-option value="classToClass">Class to Class</ion-option>

                </ion-select>
            </ion-item>

            <ion-item *ngIf="offerride.destinationType">
                <ion-icon name="locate" item-start color="primary"></ion-icon>
                <ion-label stacked>
                    From</ion-label>
                <ion-select [(ngModel)]="offerride.from">

                    <ion-option *ngFor="let from of fromData | keyobject" value="{{from.name}}">{{from.name}}</ion-option>

                </ion-select>
                <!-- (ionChange)="fromSelected($event)" -->
            </ion-item>



            <ion-item *ngIf="offerride.destinationType">
                <ion-icon name="pin" item-start color="danger"></ion-icon>
                <ion-label stacked>Destination</ion-label>
                <ion-select [(ngModel)]="offerride.destination">
                    <ion-option *ngFor="let destination of destinationData | keyobject" value="{{destination.name}}">{{destination.name}}</ion-option>

                </ion-select>
            </ion-item>


            <!-- <ion-chip *ngIf="offerride.destinationType">
                <ion-icon name="pricetag" color="primary"></ion-icon>
                <ion-label>RM 0.50</ion-label>
            </ion-chip> -->

            <ion-item>
                <ion-label stacked>
                    <ion-icon name="locate"></ion-icon> Specific Meeting Point
                </ion-label>
                <ion-input type="text" placeholder="Ex: Cafe Serumpun" [(ngModel)]="offerride.meetingPoint" required></ion-input>
            </ion-item>


        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header color="primary">
            SCHEDULE
        </ion-card-header>
        <ion-card-content>

            <!-- <ion-item>
                <ion-label> Round trip?</ion-label>
                <ion-toggle checked="false" [(ngModel)]="offerride.isRoundTrip"></ion-toggle>
            </ion-item> -->

            <ion-row>
                <!-- <ion-col col-12>
                    <ion-chip color="primary">
                        <ion-label>Departure Time</ion-label>
                    </ion-chip>
                    <!-- <span>Departure</span>
                </ion-col> -->
                <ion-col col-6>
                    <ion-label stacked>
                        <ion-icon name="calendar" color="primary"></ion-icon> Date:
                    </ion-label>
                    <ion-input type="text" disabled="true" (click)="datepicker()" [(ngModel)]="offerride.date" ng-readonly></ion-input>
                </ion-col>
                <ion-col col-6>
                    <ion-label stacked>
                        <ion-icon name="clock" color="primary"></ion-icon> Time:
                    </ion-label>
                    <ion-input type="text" disabled="true" (click)="timepicker()" [(ngModel)]="offerride.time" ng-readonly></ion-input>
                </ion-col>
            </ion-row>

            <!-- if isRoundTrip== true -->
            <ion-row *ngIf="offerride.isRoundTrip">
                <ion-col col-12>
                    <ion-chip color="danger">
                        <ion-label>Return Time</ion-label>
                    </ion-chip>
                </ion-col>
                <ion-col col-6>
                    <ion-label stacked>
                        <ion-icon name="calendar" color="primary"></ion-icon> Date:
                    </ion-label>
                    <ion-input type="text" disabled="true" (click)="datepickerisRoundTrip()" [(ngModel)]="offerride.dateRoundTrip" ng-readonly></ion-input>
                </ion-col>
                <ion-col col-6>
                    <ion-label stacked>
                        <ion-icon name="clock" color="primary"></ion-icon> Time:
                    </ion-label>
                    <ion-input type="text" disabled="true" (click)="timepickerisRoundTrip()" [(ngModel)]="offerride.timeRoundTrip" ng-readonly></ion-input>
                </ion-col>
            </ion-row>

        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header color="primary">
            VEHICLE
        </ion-card-header>
        <ion-card-content *ngIf="!profile.vehicleComplete">
            Opss... You dont have any vehicle yet. Please add a vehicle first in your profile.
            <button ion-button block (tap)="addvehicle()">Add Vehicle</button>
        </ion-card-content>
        <ion-card-content *ngIf="profile.vehicleComplete">

            <ion-item>
                <ion-icon name="car" item-start color="danger"></ion-icon>
                <ion-label stacked>Select your vehicle</ion-label>
                <ion-select [(ngModel)]="offerride.vehiclePlate" interface="popover" (ionChange)="vehicle(offerride.vehiclePlate)">
                    <ion-option *ngFor="let vehicle of vehicles | keyobject" value="{{vehicle.plate}}">{{vehicle.plate}}</ion-option>

                </ion-select>
            </ion-item>

            <ion-item>
                <ion-label stacked>
                    <ion-icon name="people" color="primary"></ion-icon> Offered Seat: {{offerride.seatOffered}}
                </ion-label>
                <ion-range min="1" max="4" step="1" pin="true" snaps="true" color="primary" [(ngModel)]="offerride.seatOffered">
                    <ion-label range-left>1</ion-label>
                    <ion-label range-right>4</ion-label>
                </ion-range>
                <!-- <ion-input type="text" [(ngModel)]="car.seat"></ion-input> -->
            </ion-item>



        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header color="primary">
            DETAILS
        </ion-card-header>
        <ion-card-content>
            <ion-item>
                <ion-label>Women passenger only?</ion-label>
                <ion-toggle checked="false" [(ngModel)]="offerride.onlyWomen"></ion-toggle>
            </ion-item>

            <ion-item>
                <ion-label stacked>
                    <ion-icon name="chatbubbles"></ion-icon> Message
                </ion-label>
                <ion-textarea elastic placeholder="Ex: Im a cool guy" [(ngModel)]="offerride.comment"></ion-textarea>
            </ion-item>
            <button ion-button full large (click)="review()">Review Ride</button>
        </ion-card-content>
    </ion-card>
</ion-content>

<!-- [disabled]="!offerride.from || !offerride.destination ||!offerride.meetingPoint || !offerride.date || !offerride.time || !offerride.date || !offerride.vehiclePlate || !offerride.seatOffered || !offerride.comment" -->