<ion-header>

    <ion-navbar color="primary">
        <ion-title>Notification</ion-title>
    </ion-navbar>

</ion-header>


<ion-content class="bg">
    <ion-card *ngFor="let req of riderequest | keyobject" (tap)="review(req)">
        <ion-card-header text-wrap>
            {{ req.key }}
        </ion-card-header>
    </ion-card>
    <ion-card *ngFor="let req of booking | keyobject" (tap)="review(req)">
        <ion-card-header text-wrap>
            {{ req.key }}
        </ion-card-header>
    </ion-card>
</ion-content>