<ion-header>

    <ion-navbar color="primary">
        <ion-title>Notification</ion-title>
    </ion-navbar>

</ion-header>


<ion-content class="bg">
    <ion-card *ngFor="let req of riderequest | keyobject" (tap)="review(req)">
        <ion-card-header text-wrap>
            <b> Ride Request</b>
            <p>{{ req.key }}</p>
        </ion-card-header>
    </ion-card>

    <ion-card *ngFor="let req of booking | keyobject" (tap)="book(req)">
        <ion-card-header text-wrap>
            <b>Booking Confirm</b>
            <h3>{{ req.dName }}</h3>
            <p>{{req.from}} - {{req.destination}}</p>
        </ion-card-header>
    </ion-card>
</ion-content>