page-signup {
    ion-grid {
        height: 100%;
        justify-content: center;
    }
    img {
        max-width: 100%;
        height: 25%;
    }
    .spacer {
        // padding-top: 1em;
    }
    .item-md {
        padding-left: 1em;
    }
    .item-md.item-block .item-inner {
        margin-right: 1em;
        border-bottom: 1px solid #dedede;
    }
}